/*---基本構造-----------------------------------------------------*/
*
{
    font-family: Meiryo;
}
body
{
    margin: 0;
    padding: 0;
    font-size: small;
    color: black;
    background-color: white;
}

h1
{
    font-size: 50px;
}

h2
{
    font-size: 20px;
}

p
{
    line-height: 1.7;
}

/*---枠組み-------------------------------------------------------*/
#page
{
    margin: 0 auto;
    width: 900px;
}

#side
{
    width: 150px;
    float: left;
}

#main
{
    width: 750px;
    float: right;
}

footer
{
    clear: both;
}

/*---ヘッダ-------------------------------------------------------*/
header h1, header p
{
    display: block;
}

header p
{
    margin: 20px auto;
}

#title
{
    background-color: azure;
    margin: 10px auto;
}

/*---サイドメニュー------------------------------------------------*/
nav ul
{
    display: block;
    width:140px;
    float: left;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    border: 3px solid black;
    line-height: 1.0;
    
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}


nav li, nav a
{
    display: block;
}

nav li
{
    border-bottom: 3px solid black;
    background-color: #eee;
}

nav li
{
    padding: 15px 20px;
}

    nav li:hover
        {
            background-color: #aaa;
        }

nav a
{
    font-weight: bold;
    text-decoration: none;
}
    

nav #current 
{
    background-color: white;
}

#last
{
    border-bottom: none;
}

/*---メイン-------------------------------------------------------*/
#main section
{
    margin: 0 0 20px 20px; 
    padding: 15px;
    background-color: rgba(213, 226, 40, 0.50);
}

/*---フッター-----------------------------------------------------*/
footer
{
    display: block;
    border-top: 1px solid #eee;
}

footer #copyright, footer p
{
    text-align: center;
}