/*---ギャラリーの構造-------------------------------------------------*/
header#galleryHeader
{
    position: relative;
    display: block;
    width: 750px;
    height: 100px;
    margin: 0 0 15px 25px;
    background-color: rgba(241, 243, 6, 0.64);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
    header#galleryHeader h2
    {
        position: relative;
        font-size: 25px;
        float: left;
        margin: 10px 0 0 20px;
        padding: 0;

    }
    header#galleryHeader p
    {
        clear: left;
        position: relative;
        float: left;
        margin: 10px;
        padding: 10px;
    }

img
{
    margin: 10px auto;
}

div#main section p
{
    position: relative;
    display: block;
}
div#main section p img
{
    display: block;
}



