header#galleryHeader
{
    position: relative;
    display: block;
    width: 900px;
    height: 100px;
    margin: 0 0 15px 25px;
}

h1#gallery
{
    position: relative;
    font-size: 25px;
}

header p
{
    position: relative;
}

div#main section p
{
    position: relative;
    display: block;
}
div#main section p img
{
    display: block;
}


