*
{
    margin: 0;
    padding: 0;
}

html, body
{
    height: 100%;
    width: 100%;
}



ol#GameList
{
    position: absolute;
    top: 60px;
    left: 50px;
    z-index: 1;
}

#Title
{
    position:absolute;
    
    font-style:italic;
    z-index: 1;
}

h2#Zaregoto
{
    position: absolute;
    top: 120px;
    z-index: 1;
}

#GameCanvas
{
    position:absolute;
    z-index: 0;
}
