/*---基本構造-----------------------------------------------------*/
*
{
    font-family: Meiryo;
}
body
{
    margin: 0;
    padding: 0;
    font-size: small;
    color: black;
    background: /*url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQUlEQVQYlWP48j3sPwMB8H8eM0QNPsVwRTCATTGGImyKcSpCVkxQEcwkgh5ENgmnYmzWYSjG5ya4YmIc/uV72H8ADaA6t6bvYAgAAAAASUVORK5CYII=) repeat;*/
                  url(bg.gif) repeat; 
}

h1
{
    font-size: 50px;
}

h2
{
    font-size: 20px;
}

p
{
    display: block;
    line-height: 1.7;
}
    p#setsumei
    {
        margin: 0 0 15px 35px;
    }

/*---枠組み-------------------------------------------------------*/
#page
{
    margin: 0 auto;
    width: 900px;
    z-index: 1;
}

#side
{
    position:relative;
    width: 150px;
    float: left;
    z-index: 2;
}

#main
{
    position:relative;
    width: 750px;
    float: right;
    z-index: 0;
}

footer
{
    clear: both;
}

/*---ヘッダ-------------------------------------------------------*/
div#header
{
    position: relative;
    margin-bottom: 10px;
}

header #title
{
    position: relative;
    background: url(Titlelogo.png);
    /*top: -100px;*/
    height: 300px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

header h1, header p
{
    position: absolute;
    display: block;
    z-index: 1;
}

header p
{
    margin: 20px auto;
}

#title
{
    width: 900px;
    height: 150px;
    /*background-color: azure;*/
    margin: 10px auto;
}

header canvas
{
    position: absolute;
    top: 0;
    z-index: 0;  
    margin: 0;
    padding: 0;
}

/*---サイドメニュー------------------------------------------------*/


nav ul
{
    position: absolute;
    display: block;
    width:300px;
    float: left;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    border: none;
    line-height: 1.0;
    
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}



nav li, nav a
{
    display: block;
}


nav li
{
    position: relative;
    border-bottom: 3px solid white;
    background-color: #ff6e06;
    width: 140px;
    height: 50px;
    padding: 0;
    margin: 0;
    z-index: 2;
    
}
nav li:hover
        {
            background-color: #f85908;
        }

li.childGallery
{
    position: relative;
    background-color: white;
    border: 1px dotted orange;
    width: 150px;
    top: -53px;
    z-index: 1;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 0.5s;
    border-radius: 50px;
}
li.childGallery:hover
{
    background-color: white;
    -moz-transform: translateX(130px);
}
li.childGallery a
{
    color: #999;
}


nav a
{
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 15px 20px;
     
}

li#childGallery a
{
    width: 170px;
}

nav #current 
{
    background-color: #f8a208;
}

li.top
{
    border-top-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
}

li.last
{
    top: -52px;
    border-bottom: none;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
}


/*---メイン-------------------------------------------------------*/
#main section
{
   
    margin: 0 0 20px 20px; 
    padding: 15px;
    background-color: rgba(213, 226, 40, 0.50);
}

/*---フッター-----------------------------------------------------*/
footer
{
    display: block;
    border-top: 1px solid #eee;
}

footer #copyright, footer p
{
    text-align: center;
}